{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Выход" %}{% endblock head_title %}

{% block content %}
<h1>{% trans "Выход" %}</h1>

<p>{% trans 'Уверены что хотите выйти из аккаунта?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Выйти' %}</button>
</form>


{% endblock content %}
